@import 'reset';
@import 'base';

* {
  box-sizing: border-box;
}


.container {
  display: grid;
  grid-auto-rows: 100vh;
  border: 20px solid #f9f9f9;
  height: 100vh;
  overflow: auto
}
.section {
  padding: 80px;
}
.is-fixed {
  position: fixed;
  top: 80px;
}

.home {
  display: flex;
  align-items: center;

  h1 {
    font: italic 700 64px/90px 'Cormorant Garamond', serif;
    text-transform: uppercase;
    margin-bottom: 16px;
    span {
      position: relative;
      &:before {
        content: '';
        position: absolute;
        top: -8px;
        right: -16px;
        bottom: -8px;
        left: -16px;
        background: $yellowColor;
        z-index: -1;
        transform: skew(-6deg)
      }
    }
  }
  p {
    font: italic 400 20px/32px 'Cormorant Garamond', serif;
  }
}